# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
dist/
build/
*.spec
manifest

# Virtual Environments
venv/
env/
ENV/

# IDEs
.vscode/
.idea/

# Logs
*.log

# Project specific
# config.json # Uncomment if you want to ignore local user settings
